.container__jogs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.jogs__item {
  width: 250px;
  display: flex;
  margin-top: 78px;
  align-items: center;
}
.jogs__information {
  margin-left: 40px;
}

.add_jogs_button {
  position: fixed;
  cursor: pointer;
  bottom: 40px;
  right: 40px;
}

.jog__date {
  font-size: 14px;
  color: #979797;
}

.jog__speed,
.jog__distance,
.jog__time {
  font-size: 14px;
  font-weight: 500;
  margin-top: 9px;
  span {
    font-size: 14px;
    font-weight: 500;
    color: #979797;
    margin-left: 4px;
  }
}

@media screen and (max-width: 768px) {
  .jogs__item {
    border-bottom: 1px solid rgb(215 215 215);
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
    height: 188px;
  }
}
